* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7;
}
body {
  background-color: rgb(196, 196, 196);
}
#head {
  text-align: left;
  margin: 10px 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#head > h1 {
  font-size: medium;
}
#head > h2 {
  font-size: small;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.socialicon {
  width: 40px;
}
